In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "../../data/weatherHistory.csv"
df = pd.read_csv(path)

In [3]:
df[:10]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259.0,9.9820,0.0,1016.72,Partly cloudy throughout the day.
7,2006-04-01 07:00:00.000 +0200,Partly Cloudy,rain,8.772222,6.527778,0.89,14.1519,260.0,9.9820,0.0,1016.84,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.
9,2006-04-01 09:00:00.000 +0200,Partly Cloudy,rain,13.772222,13.772222,0.72,12.5258,279.0,9.9820,0.0,1017.22,Partly cloudy throughout the day.

In [8]:
temp_df = df.drop(axis=1, labels=['Formatted Date', 'Summary', 'Humidity', 'Wind Speed (km/h)', 'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover', 'Pressure (millibars)', 'Daily Summary', 'Precip Type'])

In [9]:
temp_df[:10]

   Temperature (C)  Apparent Temperature (C)
0         9.472222                  7.388889
1         9.355556                  7.227778
2         9.377778                  9.377778
3         8.288889                  5.944444
4         8.755556                  6.977778
5         9.222222                  7.111111
6         7.733333                  5.522222
7         8.772222                  6.527778
8        10.822222                 10.822222
9        13.772222                 13.772222

In [13]:
temp_df = temp_df.rename(columns={"Temperature (C)": "real", "Apparent Temperature (C)": "predicted"})

In [14]:
temp_df[:10]

        real  predicted
0   9.472222   7.388889
1   9.355556   7.227778
2   9.377778   9.377778
3   8.288889   5.944444
4   8.755556   6.977778
5   9.222222   7.111111
6   7.733333   5.522222
7   8.772222   6.527778
8  10.822222  10.822222
9  13.772222  13.772222

In [15]:
def get_biases(pred, real):
    return [abs(pr - rl) for pr, rl in zip(pred, real)]

In [39]:
THRESH = 3
biases = get_biases(temp_df['predicted'], temp_df['real'])
result = [0 if bias >= THRESH else 1 for bias in biases]

In [40]:
result[:10]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [41]:
sum(result)

80244

In [42]:
sum(result) / len(result)

0.8319492395259868